Repository mugisham37/node-ecommerce-fullstack, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @devops-team, @senior-dev, @backend-team, @security-team, @frontend-team, @mobile-team, @qa-team

setup monitoring and observation stack
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  infrastructure/monitoring/alertmanager.yml
  infrastructure/monitoring/docker-compose.monitoring.yml
  infrastructure/monitoring/elasticsearch/elasticsearch.yml
  infrastructure/monitoring/elasticsearch/filebeat.yml
  infrastructure/monitoring/elasticsearch/logstash.conf
  infrastructure/monitoring/grafana/dashboards/application-metrics.json
  infrastructure/monitoring/grafana/dashboards/business-metrics.json
  infrastructure/monitoring/grafana/dashboards/system-overview.json
  infrastructure/monitoring/grafana/provisioning/dashboards/dashboard.yml
  infrastructure/monitoring/grafana/provisioning/datasources/prometheus.yml
  infrastructure/monitoring/jaeger.yml
  infrastructure/monitoring/prometheus.yml
  infrastructure/monitoring/rules/alerts.yml
  scripts/monitoring/backup-monitoring-data.ps1
  scripts/monitoring/health-check.ps1
  scripts/monitoring/setup-monitoring.ps1
Owners: @dev-team, @devops-team, @senior-dev

implemented database management and backup system
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  infrastructure/database/postgres.conf
  scripts/database/backup.ps1
  scripts/database/migrate.ps1
  scripts/database/restore.ps1
  scripts/database/setup-replication.ps1
Owners: @dev-team, @devops-team, @senior-dev

set security and secret management
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  config/secrets/.env.development
  config/secrets/.env.example
  config/secrets/.env.production
  config/secrets/.env.staging
  config/secrets/README.md
  config/security/policies/README.md
  config/security/policies/access-control-policy.json
  config/security/policies/data-protection-policy.json
  config/security/policies/incident-response-policy.json
  config/security/policies/password-policy.json
  infrastructure/security/fail2ban.conf
  infrastructure/security/nginx.conf
  infrastructure/security/security-headers.conf
  scripts/security/generate-certs.ps1
  scripts/security/generate-secrets.ps1
  scripts/security/scan.ps1
Owners: @dev-team, @devops-team, @security-team, @senior-dev

implemenyed scaling load balance
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  infrastructure/cdn/cloudflare-config.json
  infrastructure/cdn/optimization.conf
  infrastructure/kubernetes/api-deployment.yaml
  infrastructure/kubernetes/configmap.yaml
  infrastructure/kubernetes/monitoring.yaml
  infrastructure/kubernetes/namespace.yaml
  infrastructure/kubernetes/nginx-deployment.yaml
  infrastructure/kubernetes/postgres-deployment.yaml
  infrastructure/kubernetes/redis-deployment.yaml
  infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/web-deployment.yaml
  infrastructure/nginx/nginx.conf
  infrastructure/terraform/acm.tf
  infrastructure/terraform/alb.tf
  infrastructure/terraform/cloudfront.tf
  infrastructure/terraform/eks.tf
  infrastructure/terraform/elasticache.tf
  infrastructure/terraform/environments/development.tfvars
  infrastructure/terraform/environments/production.tfvars
  infrastructure/terraform/environments/staging.tfvars
  infrastructure/terraform/main.tf
  infrastructure/terraform/outputs.tf
  infrastructure/terraform/rds.tf
  infrastructure/terraform/variables.tf
  infrastructure/terraform/vpc.tf
  scripts/scaling/auto-scale.ps1
  scripts/scaling/deploy-scaling.ps1
Owners: @dev-team, @devops-team, @senior-dev

implemented production performance optimization
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  infrastructure/cdn/optimization.conf
  scripts/optimization/cache-warming.ps1
  scripts/optimization/optimize-db.ps1
  tools/performance/README.md
  tools/performance/benchmark.js
  tools/performance/bundle-analyzer.js
  tools/performance/monitoring.js
  tools/performance/package.json
Owners: @dev-team, @devops-team, @senior-dev

setup production security
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  scripts/security/audit.ps1
  scripts/security/penetration-test.ps1
  security/compliance/GDPR/data-protection-impact-assessment.md
  security/compliance/NIST/cybersecurity-framework.md
  security/compliance/PCI-DSS/requirements.md
  security/compliance/README.md
  security/compliance/SOC2/controls.md
  security/incident-response/README.md
  security/incident-response/playbooks/data-breach-response.md
  security/incident-response/playbooks/malware-response.md
  security/incident-response/procedures/incident-classification.md
  security/policies/README.md
  security/policies/access-control.md
  security/policies/compliance.md
  security/policies/data-protection.md
  security/policies/network-security.md
  security/policies/vulnerability-management.md
Owners: @dev-team, @devops-team, @security-team

implemented highl availability and disasteer recovery
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  docs/disaster-recovery/README.md
  docs/disaster-recovery/runbooks.md
  infrastructure/failover/auto-failover.yml
  infrastructure/ha/application-deployment.yml
  infrastructure/ha/database-cluster.yml
  infrastructure/ha/load-balancer.yml
  infrastructure/ha/redis-cluster.yml
  scripts/backup/full-system-backup.ps1
  scripts/disaster-recovery/backup-strategy.ps1
  scripts/disaster-recovery/failover-automation.ps1
  scripts/disaster-recovery/restore-procedures.ps1
Owners: @dev-team, @devops-team, @senior-dev

setup production deployment and operations
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  docs/operations/change-management.md
  docs/operations/production-runbook.md
  infrastructure/production/docker-compose.production.yml
  infrastructure/production/nginx.conf
  infrastructure/production/postgresql.conf
  infrastructure/production/prometheus.yml
  infrastructure/production/redis.conf
  scripts/deployment/blue-green-deploy.ps1
  scripts/deployment/canary-deploy.ps1
  scripts/operations/health-check.ps1
Owners: @dev-team, @devops-team, @senior-dev

database shema analysis and migration
  .kiro/specs/backend-migration-integration/tasks.md
  packages/database/drizzle.config.ts
  packages/database/migrations/0001_add_loyalty_system.sql
  packages/database/migrations/0002_add_ab_testing.sql
  packages/database/migrations/0003_add_vendor_analytics.sql
  packages/database/migrations/0004_add_advanced_search.sql
  packages/database/migrations/0005_add_notifications.sql
  packages/database/migrations/0006_add_settings.sql
  packages/database/src/schema/advanced-search.ts
  packages/database/src/schema/index.ts
  packages/database/src/schema/notifications.ts
  packages/database/src/schema/settings.ts
Owners: @dev-team, @backend-team, @senior-dev

repository pattern implementaion
  .kiro/specs/backend-migration-integration/tasks.md
  other-backend/src/repositories/base.repository.ts
  other-backend/src/repositories/index.ts
  other-backend/src/repositories/product.repository.ts
  other-backend/src/repositories/user.repository.ts
  packages/database/package.json
  packages/database/src/repositories/__tests__/ab-test-repository.test.ts
  packages/database/src/repositories/__tests__/loyalty-repository.test.ts
  packages/database/src/repositories/__tests__/setup.ts
  packages/database/src/repositories/ab-test-repository.ts
  packages/database/src/repositories/advanced-search-repository.ts
  packages/database/src/repositories/base/base-repository.ts
  packages/database/src/repositories/index.ts
  packages/database/src/repositories/loyalty-repository.ts
  packages/database/src/repositories/notification-repository.ts
  packages/database/src/repositories/settings-repository.ts
  packages/database/src/repositories/user-repository.ts
  packages/database/src/repositories/vendor-analytics-repository.ts
  packages/database/vitest.config.ts
Owners: @dev-team, @backend-team, @senior-dev

validation shema migration
  .kiro/specs/backend-migration-integration/tasks.md
  packages/shared/tsconfig.json
  packages/validation/MIGRATION_SUMMARY.md
  packages/validation/package.json
  packages/validation/src/index.ts
  packages/validation/src/middleware/trpc-validation.ts
  packages/validation/src/schemas/ab-test.ts
  packages/validation/src/schemas/advanced-search.ts
  packages/validation/src/schemas/country.ts
  packages/validation/src/schemas/currency.ts
  packages/validation/src/schemas/email.ts
  packages/validation/src/schemas/index.ts
  packages/validation/src/schemas/inventory.ts
  packages/validation/src/schemas/loyalty.ts
  packages/validation/src/schemas/order.ts
  packages/validation/src/schemas/supplier.ts
  packages/validation/src/schemas/tax.ts
  packages/validation/src/schemas/user.ts
  packages/validation/src/schemas/vendor.ts
  packages/validation/src/utils/ValidationUtils.ts
  packages/validation/tsconfig.json
Owners: @dev-team, @backend-team

configuration and environment setup
  .env.example
  .kiro/specs/backend-migration-integration/tasks.md
  apps/api/src/config/cors.ts
  apps/api/src/config/swagger.ts
  docker-compose.yml
  other-backend/.env.example
  other-backend/src/config/database.ts
  other-backend/src/config/i18n.ts
  other-backend/src/config/redis.ts
  other-backend/src/config/swagger.ts
  packages/config/build-simple.js
  packages/config/package.json
  packages/config/src/database.ts
  packages/config/src/environments/base.ts
  packages/config/src/environments/development.ts
  packages/config/src/environments/production.ts
  packages/config/src/environments/staging.ts
  packages/config/src/environments/test.ts
  packages/config/src/i18n.ts
  packages/config/src/index.ts
  packages/config/src/redis.ts
Owners: @devops-team, @security-team, @dev-team, @backend-team

utility functions integration
  .kiro/specs/backend-migration-integration/tasks.md
  other-backend/src/utils/async-handler.ts
  other-backend/src/utils/translate.ts
  other-backend/src/utils/type-guards.ts
  other-backend/src/utils/validation.schemas.ts
  packages/shared/package.json
  packages/shared/src/utils/__tests__/analytics.test.ts
  packages/shared/src/utils/__tests__/api-error.test.ts
  packages/shared/src/utils/__tests__/async-handler.test.ts
  packages/shared/src/utils/__tests__/decimal.test.ts
  packages/shared/src/utils/__tests__/type-guards.test.ts
  packages/shared/src/utils/__tests__/validation-schemas.test.ts
  packages/shared/src/utils/analytics.ts
  packages/shared/src/utils/api-error.ts
  packages/shared/src/utils/async-handler.ts
  packages/shared/src/utils/decimal.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/logger.ts
  packages/shared/src/utils/translate.ts
  packages/shared/src/utils/type-guards.ts
  packages/shared/src/utils/validation-schemas.ts
  packages/shared/vitest.config.ts
Owners: @dev-team

typescript types migration
  .kiro/specs/backend-migration-integration/tasks.md
  other-backend/src/types/vendor-analytics.types.ts
  packages/shared/src/types/ab-test.ts
  packages/shared/src/types/analytics.ts
  packages/shared/src/types/export.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/loyalty.ts
  packages/shared/src/types/notification.ts
  packages/shared/src/types/search.ts
  packages/shared/src/types/settings.ts
  packages/shared/src/types/vendor-analytics.ts
Owners: @dev-team

analytics service migration
  .kiro/specs/backend-migration-integration/tasks.md
  apps/api/src/services/__tests__/analytics.service.test.ts
  apps/api/src/services/__tests__/vendor-analytics.service.test.ts
  apps/api/src/services/analytics.service.ts
  apps/api/src/services/vendor-analytics.service.ts
Owners: @dev-team, @backend-team

removed some of the unwnted documents
  apps/api/src/services/batch-loyalty.service.ts
  apps/api/src/services/loyalty.service.ts
  packages/database/migrations/0001_add_loyalty_system.sql
  packages/database/migrations/0002_add_ab_testing.sql
  packages/database/migrations/0003_add_vendor_analytics.sql
  packages/database/migrations/0004_add_advanced_search.sql
  packages/database/migrations/0005_add_notifications.sql
  packages/database/migrations/0006_add_settings.sql
  packages/database/src/repositories/__tests__/ab-test-repository.test.ts
  packages/database/src/repositories/__tests__/loyalty-repository.test.ts
  packages/database/src/repositories/__tests__/setup.ts
  packages/database/src/repositories/ab-test-repository.ts
  packages/database/src/repositories/index.ts
  packages/database/src/repositories/loyalty-repository.ts
  packages/database/src/repositories/notification-repository.ts
  packages/database/src/repositories/product-repository.ts
  packages/database/src/repositories/settings-repository.ts
  packages/database/src/repositories/user-repository.ts
  packages/database/src/repositories/vendor-analytics-repository.ts
  packages/database/src/schema/ab-tests.ts
  packages/database/src/schema/advanced-search.ts
  packages/database/src/schema/loyalty.ts
  packages/database/src/schema/notifications.ts
  packages/database/src/schema/settings.ts
  packages/database/src/schema/vendor-analytics.ts
Owners: @backend-team, @senior-dev

deleted more documents
  apps/api/src/config/cors.ts
  apps/api/src/config/swagger.ts
  packages/config/src/database.ts
  packages/config/src/i18n.ts
  packages/config/src/redis.ts
  packages/shared/src/types/ab-test.ts
  packages/shared/src/types/analytics.ts
  packages/shared/src/types/export.ts
  packages/shared/src/types/index.ts
  packages/shared/src/types/loyalty.ts
  packages/shared/src/types/notification.ts
  packages/shared/src/types/search.ts
  packages/shared/src/types/settings.ts
  packages/shared/src/types/vendor-analytics.ts
  packages/shared/src/utils/__tests__/analytics.test.ts
  packages/shared/src/utils/__tests__/api-error.test.ts
  packages/shared/src/utils/__tests__/async-handler.test.ts
  packages/shared/src/utils/__tests__/decimal.test.ts
  packages/shared/src/utils/__tests__/type-guards.test.ts
  packages/shared/src/utils/__tests__/validation-schemas.test.ts
  packages/shared/src/utils/analytics.ts
  packages/shared/src/utils/api-error.ts
  packages/shared/src/utils/async-handler.ts
  packages/shared/src/utils/decimal.ts
  packages/shared/src/utils/index.ts
  packages/shared/src/utils/logger.ts
  packages/shared/src/utils/translate.ts
  packages/shared/src/utils/type-guards.ts
  packages/shared/src/utils/validation-schemas.ts
  packages/validation/src/middleware/trpc-validation.ts
  packages/validation/src/schemas/ab-test.ts
  packages/validation/src/schemas/advanced-search.ts
  packages/validation/src/schemas/country.ts
  packages/validation/src/schemas/currency.ts
  packages/validation/src/schemas/email.ts
  packages/validation/src/schemas/index.ts
  packages/validation/src/schemas/loyalty.ts
  packages/validation/src/schemas/tax.ts
  packages/validation/src/schemas/vendor.ts
Owners: @backend-team, @devops-team, @dev-team

removed more of other unwanted documents
  apps/api/src/middleware/language.ts
  apps/api/src/trpc/context.ts
  apps/api/src/trpc/routers/i18n.ts
  apps/mobile/src/components/LanguageSwitcher.tsx
  apps/mobile/src/lib/i18n.ts
  apps/web/src/components/language-switcher.tsx
  apps/web/src/lib/i18n.ts
  packages/i18n/package.json
  packages/i18n/scripts/validate-translations.ts
  packages/i18n/src/hooks/index.ts
  packages/i18n/src/hooks/useTranslation.ts
  packages/i18n/src/hooks/useTranslationRN.ts
  packages/i18n/src/index.ts
  packages/i18n/src/locales/de/common.json
  packages/i18n/src/locales/de/emails.json
  packages/i18n/src/locales/de/errors.json
  packages/i18n/src/locales/de/validation.json
  packages/i18n/src/locales/en/common.json
  packages/i18n/src/locales/en/emails.json
  packages/i18n/src/locales/en/errors.json
  packages/i18n/src/locales/en/validation.json
  packages/i18n/src/locales/es/common.json
  packages/i18n/src/locales/es/emails.json
  packages/i18n/src/locales/es/errors.json
  packages/i18n/src/locales/es/validation.json
  packages/i18n/src/locales/fr/common.json
  packages/i18n/src/locales/fr/emails.json
  packages/i18n/src/locales/fr/errors.json
  packages/i18n/src/locales/fr/validation.json
  packages/i18n/src/locales/index.ts
  packages/i18n/src/locales/zh/common.json
  packages/i18n/src/locales/zh/emails.json
  packages/i18n/src/locales/zh/errors.json
  packages/i18n/src/locales/zh/validation.json
  packages/i18n/src/types.ts
  packages/i18n/src/utils/index.ts
  packages/i18n/src/utils/language-detector.ts
  packages/i18n/tsconfig.json
Owners: @backend-team, @mobile-team, @frontend-team, @dev-team

removed the rest of what i did not want
  .kiro/specs/backend-migration-integration/design.md
  .kiro/specs/backend-migration-integration/requirements.md
  .kiro/specs/backend-migration-integration/tasks.md
  .kiro/specs/fullstack-monolith-transformation/design.md
  .kiro/specs/fullstack-monolith-transformation/requirements.md
  .kiro/specs/fullstack-monolith-transformation/tasks.md
  apps/api/src/services/__tests__/analytics.service.test.ts
  apps/api/src/services/__tests__/vendor-analytics.service.test.ts
  apps/api/src/services/analytics.service.ts
  apps/api/src/services/batch-loyalty.service.ts
  apps/api/src/services/loyalty.service.ts
  apps/api/src/services/vendor-analytics.service.ts
Owners: @dev-team, @backend-team

.github/CODEOWNERS:

# Global code owners
* @dev-team

# Infrastructure and CI/CD
/.github/ @devops-team @senior-dev
/infrastructure/ @devops-team @senior-dev
/docker-compose*.yml @devops-team
/Dockerfile @devops-team

# Database and migrations
/packages/database/ @backend-team @senior-dev
/temp-api/src/main/resources/db/migration/ @backend-team

# Security and configuration
/config/ @devops-team @security-team
/.env* @devops-team @security-team
/security/ @security-team

# API and backend services
/apps/api/ @backend-team
/packages/cache/ @backend-team
/packages/validation/ @backend-team

# Frontend applications
/apps/web/ @frontend-team
/apps/mobile/ @mobile-team
/packages/ui/ @frontend-team

# Shared packages
/packages/shared/ @dev-team
/packages/config/ @devops-team
/packages/constants/ @dev-team

# Documentation
/docs/ @dev-team
/README.md @dev-team
/*.md @dev-team

# Scripts and tools
/scripts/ @devops-team
/tools/ @devops-team

# Testing
/tests/ @qa-team @dev-team
